.badges-container {
    max-width: 1200px;
}

button.active {
    color: white;
}

.change-view {
    width: 50px;
    margin: 20px;
    position: relative;
    &button {
        margin-right: 5px;
    }
}

.table-view {
    border: 0px solid black;
}